<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.foj">

    <!-- seungho -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- seungho -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".splashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FirstActivity"/>
        <activity android:name=".LoginActivity" /> 
        <activity android:name=".RegCusActivity" />
        <activity android:name=".RegSelActivity" />
        <activity android:name=".IcxCusActivity" />
        <activity android:name=".IcxSelActivity" />
        <activity android:name=".RegDid" />
        <activity android:name=".MyaccountActivity"></activity>
        <activity android:name=".profileActivity"></activity>
        <activity android:name=".VcActivity"></activity>
        <activity android:name=".myVC"></activity>
        <activity android:name=".vctoVP"></activity>
        <activity android:name=".myVP"></activity>
        <activity android:name=".OrderList"></activity>
        <activity android:name=".ProductList1"></activity>
        <activity android:name=".AddProduct"></activity>
        <activity android:name=".OrderDetails"></activity>
        <activity android:name=".ProductList2"></activity>
        <activity android:name=".Main"></activity>
        <activity android:name=".ProductDetails"></activity>
        <activity android:name=".ProductDetails2"></activity>
        <activity android:name=".Buying1"></activity>
        <activity android:name=".Buying2"></activity>
        <activity android:name=".Payment"></activity>
        <activity android:name=".Confirm"></activity>
        <activity android:name=".Main2"></activity>
        <activity android:name=".Myaccount2"></activity>
        <activity android:name=".Wallet"></activity>
        <activity android:name=".Charge"></activity>
        <activity android:name=".ChargeDone"></activity>
        <activity android:name=".Record"></activity>

    </application>

</manifest>
