{
    "presets": ["babel-preset-expo"],
    "env": {
      "development": {
        "plugins": ["@babel/transform-react-jsx-source"]
      }
    },
    "plugins": [
      ["module-resolver", {
        "root": ["./app"],
        "alias": {
          "crypto": "crypto-browserify"
        }
      }]
    ]
  }